*{
    font-size: 13px;
    /* border: solid red 1px; */
    background-color: #004494;
    color: white;
    /* border: 1px solid; */
}
html, body{
    margin: 0px;
    padding: 0px;
}
/*============================================*/
.parent{
    display: flex;
    padding: 20px;
    height: 600px;
    background-color: #004494;
    justify-content: center;
}
.first-child{
    display: flex;
    width:  900px;
    height: 600px;
    flex-direction: column;
    gap: 30px;
    flex-grow: center;
}
.second-child{
    display: flex;
    padding-left: 30px;
    width: 500px;
    flex-grow: 0;
    height: 50px;
}
.second-item{
    height: 250px;
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.second-item02{
    justify-content: center;
    padding: 20px;
    width: 500px;
    height: 0;
    display: flex;
    flex-direction: column;
}
.second-child-fat{
    margin: 10px;
    padding-left: 20px;
    justify-items: center;
    height: 200px;
    display: flex;
    width: 900px;
    color: white;
}
.divider{
    height: 1px;
    background-color: white;
}
.links{
    display: flex;
    flex-direction: row;
}